footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c4b81;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    width: 100%;
    height: 10vh;
  }